.coordinate {
    width: 10rem;
    height: 2rem;
    margin: 0.5rem;
    text-align: right;
    border: 1px solid #a8a7a7;
    border-radius: 3px;
}

.coordinate:hover {
    background-color: #f6f4f4;
}