:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #eae8e8;
  cursor: pointer;
  transition: background-color 0.5s;
  margin: 1rem;
  border: 1px solid #9c9a9a;
}
button:hover {
  background-color: #d3d5d6;
  transition: background-color 0.5s;
  border: 1px solid #7c7c7c;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  width: 10rem;
  height: 2rem;
  margin: 0.5rem;
  text-align: right;
  border: 1px solid #a8a7a7;
  border-radius: 3px;
}

input:hover {
  background-color: #f6f4f4;
}

.coordinates-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

